<?xml version="1.0" encoding="utf-8"?>
<!-- 
  TENTO SOUBOR VYTVOØ NA SERVERU V: C:\App\Milos\TurboSkola\web.config
  
  Po vyøešení problémù zmìò:
  - ASPNETCORE_ENVIRONMENT zpìt na "Production"
  - Odstraò ASPNETCORE_DETAILEDERRORS
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\Ucivo.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <!-- DOÈASNÌ Development pro detailní chyby -->
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          
          <!-- Zapnuté detailní chyby - DÙLEŽITÉ PRO DEBUG! -->
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
